@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom properties */
:root {
  --light-pink: #f8d9e2;
  --primary: #4a4a4a;
  --secondary: #d4af37;
  --black: #1c1c1c;
  --white: #f5f5f5;
}

/* Tailwind Custom Classes */
.bg-light-pink {
  background-color: var(--light-pink);
}
.text-primary {
  color: var(--primary);
}

/* Dark Mode Custom Styles */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #ffffff;
    --background-start-color: #000000;
    --background-end-color: #000000;
  }
  
  body {
    color: var(--foreground-color);
    background: linear-gradient(
        to bottom,
        rgba(var(--background-end-color), 0.5),
        var(--background-start-color)
      );
  }
}

/* Utility for Text Balance */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
